<div>
  <h1>Registro</h1>
  <form id="reestablecerForm">
    <table>
      <tr>
        <td>Email:</td>
        <td><input name="email" class="form-control" name="email" id="email" placeholder="Email"/></td>
      </tr>
      <tr>
        <td>Nueva contraseña</td>
        <td><input type="password" class="form-control" name="password" id="password" name="password" /></td>
      </tr>
      {{!-- <tr>
        <td></td>
        <td><button class="btn btn-primary" type="submit" id="boton-reestablecer" value="Reestablecer la contraseña">Reestablecer</button></td>
    </tr> --}}
    <tr>
      <input class="btn btn-primary" type="submit" value="Reestablecer la contraseña" />

    </tr>
    </table>
  </form>
</div>

<script src="/js/reestablecer.js"></script>


{{!-- <div class="fluid d-flex flex-column justify-content-center align-items-center vh-100 vw-auto">
  <form class="d-flex flex-column w-25 border border-2 border-primary rounded-3 p-4" id="reestablecerForm">
    <h1 class="m-2 text-center">Reestablecer contraseña</h1>
    <div class="col form-group m-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    <div class="col form-group m-3">
      <label for="password" class="form-label">Nueva Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
    </div>
    <div class="d-grid m-3">
      <input class="btn btn-primary" type="submit" value="Reestablecer contraseña" />
    </div>
 
  </div>
<script src="/js/reestablecer.js"></script> --}}